        <footer>
            <nav>
                <ul>
                    <li><a href="//anatolethien.eu">Creator</a></li>
                    <li><a href="//github.com/anatolethien">Github</a></li>
                </ul>
            </nav>
        </footer>
    </body>
</html>
