<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Passerine</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/pico.classless.min.css">
        <link rel="icon" href="/static/images/robin-light.svg">
    </head>
    <body>
        <header>
            <h1>Passerine</h1>
            <nav>
                <ul>
                    <li><a href="/">Index</a></li>
                    <li><a href="#">Home</a></li>
                    <li><a href="/register">Register</a></li>
                    <li><a href="#">Login</a></li>
                </ul>
            </nav>
        </header>
